{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "always",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^(?!.*\\.(scss|json)$)[./]",
    "\\.scss$",
    "\\.json$"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupSpacing": true
}
