.inventoryPanel {
  background-color: $color-bg-dark;
  border: 1px dashed $color-border;
  border-radius: 8px;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  h3 {
    margin-bottom: 0.5rem;
    color: $rarity-unique;
  }

  p {
    color: $btn-color-grey;
  }

  .tabsContainer {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
}
