.bottomBar {
  grid-area: bottomBar;
  background-color: #2a2a2a;
  border: 2px solid #444;
  border-radius: 8px;
  padding: 1rem 2rem;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.timeSection,
.controls {
  flex-shrink: 0;
}
.partyPortraits {
  flex-grow: 1;
}

.controls {
  display: flex;
  gap: 1rem;
}
