// Импортировать variables.scss НЕ НУЖНО, Vite сделает это сам.

.characterCard {
  width: 180px;
  height: 360px;

  border: 1px solid $color-border;
  border-radius: 8px;
  padding: 3px;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: transform 0.2s ease-in-out;

  display: flex;
  flex-direction: column;

  @include rarity-bg;

  .cardInnerBorder {
    flex-grow: 1;
    min-height: 0;
    // Глобальная переменная
    background-color: $color-bg-dark;
    border: 1px solid $color-bg-darker;
    border-radius: 5px;
    overflow: hidden;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  .cardFooter {
    flex-shrink: 0;
    text-align: center;
    padding: 8px 0;

    .characterLevel {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-text-main;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    }
  }
}
