// Цвета редкости для заливки между рамками
$rarity-common: #888;
$rarity-uncommon: #6e7c5a;
$rarity-rare: #60708f;
$rarity-unique: #c8a658; // c5b05c; c0a05e c8a658

.characterCard {
  width: 180px;
  height: 360px;

  border: 1px solid #444;
  border-radius: 8px;
  padding: 3px;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: transform 0.2s ease-in-out;

  display: flex;
  flex-direction: column;

  &.common {
    background-color: $rarity-common;
  }
  &.uncommon {
    background-color: $rarity-uncommon;
  }
  &.rare {
    background-color: $rarity-rare;
  }
  &.unique {
    background-color: $rarity-unique;
  }

  .cardInnerBorder {
    flex-grow: 1; // Занимает всё место, кроме футера
    min-height: 0; // Важно для flex-контейнеров, чтобы они могли сжиматься
    background-color: #2a2a2a;
    border: 1px solid #1e1e1e; // Внутренняя рамка
    border-radius: 5px;
    overflow: hidden;
  }

  .imageContainer {
    width: 100%;
    height: 100%; // Изображение занимает весь `card-inner-border`
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  .cardFooter {
    flex-shrink: 0; // Футер не сжимается
    text-align: center;
    padding: 8px 0; // Вертикальные отступы для футера

    .characterLevel {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff; // Белый цвет для лучшей читаемости на цветном фоне
      // Тень для контраста на светлых фонах (например, uncommon)
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    }
  }
}
