.capturedSection {
  .capturedHeader {
    font-size: 1.2rem;
    font-weight: 600;

    margin-bottom: 1rem;
    text-align: center;
  }

  .capturedContent {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
    padding-bottom: 0.5rem;

    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #2a2a2a;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #777;
    }
  }

  .capturedList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
  }

  .alreadyCaptured {
    border-left: 2px dashed #c53d3d;
    padding-left: 1rem;
  }
}
