.capturedBlock {
  background-color: #2a2a2a;
  border-radius: 8px;
  border: 2px solid #444;
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 0;

  h2 {
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid #555;
    padding-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    background-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    font-weight: 500;
  }
}
