.controlsSidebar {
  // background-color: #2a2a2a;
  // border: 2px solid #444;
  // border-radius: 8px;
  // padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: #a0a0a0;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #444;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
}
