.gridOverlay {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.gridCell {
  fill: rgba(128, 128, 128, 0);
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 1px;
  transition: fill 0.1s ease-in-out;

  &:hover {
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 2px;
  }
}

.unexplored {
  fill: rgba(12, 14, 16, 0.8);
}

.visited {
  fill: url(#scoutHatch);
}

.explored {
  fill: transparent;
}

.selectionFrame {
  fill: transparent;
  stroke: #4caf50;
  stroke-width: 3px;
  pointer-events: none;

  &.canMove {
    pointer-events: auto;
    cursor: pointer;
  }
}

.enemy {
  opacity: 0.8;
  color: #c53d3d;
  fill: #c53d3d;
}
.neutral {
  opacity: 0.8;
  color: #bdbdbd;
  fill: #bdbdbd;
}
.ally {
  opacity: 0.8;
  color: #4caf50;
  fill: #4caf50;
}
.player {
  opacity: 0.8;
  color: #2196f3;
  fill: #2196f3;
}
