.characterDetails {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  background-color: #121212;
  color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;

  // Общий стиль для всех трех главных панелей
  .statsPanel,
  .characterPanel,
  .inventoryPanel {
    flex: 1; // Все занимают равное количество места (33.3%)
    min-width: 0; // Важно для скролла внутри флекс-элементов
    padding: 1rem;
    // height: 100%; // Высота уже задается флексом родителя
  }
}
